.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #212121;
  background: transparent;
}

.linenumber {
  color: #556f65;
}

.hljs-comment {
  color: #212121;
  font-style: italic;
}

.hljs-quote {
  color: #ca492d;
  font-style: italic;
}

.hljs-keyword {
  color: #2d4cb9;
}

.hljs-selector-tag {
  color: #afa694;
}

.hljs-literal {
  color: #9b60aa;
}

.hljs-subst {
  color: #9b60aa;
}

.hljs-number {
  color: #39594d;
}

.hljs-string {
  color: #ca492d;
}

.hljs-doctag {
  color: #ca492d;
}

.hljs-selector-id {
  color: #39594d;
}

.hljs-selector-class {
  color: #39594d;
}

.hljs-section {
  color: #39594d;
}

.hljs-type {
  color: #39594d;
}

.hljs-params {
  color: #9b60aa;
}

.hljs-title {
  color: #9b60aa;
  font-weight: bold;
}

.hljs-tag {
  color: #9b60aa;
  font-weight: normal;
}

.hljs-name {
  color: #9b60aa;
  font-weight: normal;
}

.hljs-attribute {
  color: #ca492d;
  font-weight: normal;
}

.hljs-attr {
  color: #9b60aa;
}

.hljs-variable {
  color: #ca492d;
}

.hljs-template-variable {
  color: #ca492d;
}

.hljs-regexp {
  color: #9b60aa;
}

.hljs-link {
  color: #9b60aa;
}

.hljs-function {
  color: #9b60aa;
}

.hljs-symbol {
  color: #990073;
}

.hljs-bullet {
  color: #990073;
}

.hljs-built_in {
  color: #39594d;
}

.hljs-builtin-name {
  color: #2d4cb9;
}

.hljs-meta {
  color: #39594d;
  font-weight: bold;
}

.hljs-deletion {
  background: #b20000;
}

.hljs-addition {
  background: #39594d;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.dark {
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #eeeeee;
    background: transparent;
  }

  .linenumber {
    color: #556f65;
  }

  .hljs-comment {
    color: #616161;
    font-style: italic;
  }

  .hljs-quote {
    color: #ff7759;
    font-style: italic;
  }

  .hljs-keyword {
    color: #77ecc5;
  }

  .hljs-selector-tag {
    color: #afa694;
  }

  .hljs-literal,
  .hljs-subst {
    color: #e074fb;
  }

  .hljs-number {
    color: #77ecc5;
  }

  .hljs-string,
  .hljs-doctag,
  .hljs-variable,
  .hljs-template-variable {
    color: #ff7759;
  }

  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-section,
  .hljs-type,
  .hljs-symbol,
  .hljs-builtin-name {
    color: #77ecc5;
  }

  .hljs-params,
  .hljs-title,
  .hljs-tag,
  .hljs-name,
  .hljs-attribute,
  .hljs-attr,
  .hljs-regexp,
  .hljs-link,
  .hljs-function,
  .hljs-meta {
    color: #e074fb;
  }

  .hljs-title,
  .hljs-strong {
    font-weight: bold;
  }

  .hljs-tag,
  .hljs-name,
  .hljs-attribute,
  .hljs-emphasis {
    font-weight: normal;
  }

  .hljs-regexp,
  .hljs-link,
  .hljs-function,
  .hljs-symbol,
  .hljs-bullet {
    color: #990073;
  }

  .hljs-built_in {
    color: #77ecc5;
  }

  .hljs-meta {
    color: #eeeeee;
    font-weight: bold;
  }

  .hljs-deletion {
    background: #b20000;
  }

  .hljs-addition {
    background: #77ecc5;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}
