@font-face {
  font-family: 'CohereText';
  src: url('https://fonts.cohere.com/CohereText-Regular.woff2') format('woff2'),
    url('https://fonts.cohere.com/CohereText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CohereText';
  /* In the nature design system, bolded fonts always use Cohere Variable. */
  src: url('https://fonts.cohere.com/CohereVariable.woff2') format('woff2'),
    url('https://fonts.cohere.com/CohereVariable.woff') format('woff');
  font-weight: 500 525;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CohereMono';
  src: url('https://fonts.cohere.com/CohereMono-Regular.woff2') format('woff2'),
    url('https://fonts.cohere.com/CohereMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CohereMono';
  /* In the nature design system, bolded fonts always use Cohere Variable. */
  src: url('https://fonts.cohere.com/CohereVariable.woff2') format('woff2'),
    url('https://fonts.cohere.com/CohereVariable.woff') format('woff');
  font-weight: 500 525;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CohereVariable';
  src: url('https://fonts.cohere.com/CohereVariable.woff2') format('woff2'),
    url('https://fonts.cohere.com/CohereVariable.woff') format('woff');
  font-weight: 400 420 450;
  font-style: normal;
  font-display: swap;
}
