services:
  db:
    image: postgres:14.11-alpine
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - PGUSER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - proxynet

  test_db:
    image: postgres:14.1-alpine
    restart: unless-stopped
    environment:
      - PGUSER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5433:5432'
    networks:
      - proxynet

  redis:
    image: redis:7.2-alpine
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports: 
      - '6379:6379'
    command: redis-server --save 60 1 --loglevel warning --requirepass redis
    volumes:
      - ./data:/data

  frontend:
    build:
      target: ${BUILD_TARGET:-prod}
      context: ./src/interfaces/coral_web
      dockerfile: Dockerfile
    # Set environment variables directly in the docker-compose file
    environment:
      NEXT_PUBLIC_API_HOSTNAME: ${NEXT_PUBLIC_API_HOSTNAME}
      NEXT_PUBLIC_FRONTEND_HOSTNAME: ${NEXT_PUBLIC_FRONTEND_HOSTNAME}
      NEXT_PUBLIC_GOOGLE_DRIVE_CLIENT_ID: ${NEXT_PUBLIC_GOOGLE_DRIVE_CLIENT_ID}
      NEXT_PUBLIC_GOOGLE_DRIVE_DEVELOPER_KEY: ${NEXT_PUBLIC_GOOGLE_DRIVE_DEVELOPER_KEY}
      NEXT_PUBLIC_DARK_MODE: ${NEXT_PUBLIC_DARK_MODE}
    restart: always
    networks:
      - proxynet
    ports:
      - 4000:4000
    develop:
      watch:
        - action: sync
          path: ./src/interfaces/coral_web
          target: /app
          ignore:
            - node_modules/

  terrarium:
    image: ghcr.io/cohere-ai/terrarium:latest
    ports:
      - "8080:8080"
    expose:
      - "8080"
    networks:
      - proxynet

volumes:
  db:
    name: cohere_toolkit_db
    driver: local

networks:
  proxynet:
    name: custom_network
