# dependencies
node_modules

# next.js
.next/
out/
build
dist

# vscode settings
.vscode/

# debug
.pnpm-debug.log*

# local env files
.env.development.local
.env.test.local
.env.production.local
.env.local

# typescript
*.tsbuildinfo

# package manager lock files not supported
yarn.lock
pnpm-lock.yaml
*storybook.log