.icon-default {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CohereIconDefault' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-outline {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CohereIconOutline' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-in-frame:before {
  content: '\e900';
}

.icon-add:before {
  content: '\e901';
}

.icon-arrow-down:before {
  content: '\e902';
}

.icon-arrow-left:before {
  content: '\e903';
}

.icon-arrow-right:before {
  content: '\e904';
}

.icon-arrow-up:before {
  content: '\e905';
}

.icon-arrow-up-right:before {
  content: '\e906';
}

.icon-chat:before {
  content: '\e907';
}

.icon-check-mark:before {
  content: '\e908';
}

.icon-chevron-down:before {
  content: '\e909';
}

.icon-chevron-left:before {
  content: '\e90a';
}

.icon-chevron-right:before {
  content: '\e90b';
}

.icon-chevron-up:before {
  content: '\e90c';
}

.icon-close:before {
  content: '\e90d';
}

.icon-close-drawer:before {
  content: '\e90e';
}

.icon-copy:before {
  content: '\e90f';
}

.icon-dashboard:before {
  content: '\e910';
}

.icon-edit:before {
  content: '\e911';
}

.icon-error:before {
  content: '\e912';
}

.icon-file:before {
  content: '\e913';
}

.icon-folder:before {
  content: '\e914';
}

.icon-fullscreen:before {
  content: '\e915';
}

.icon-grid:before {
  content: '\e916';
}

.icon-help:before {
  content: '\e917';
}

.icon-hide:before {
  content: '\e918';
}

.icon-hourglass:before {
  content: '\e919';
}

.icon-information:before {
  content: '\e91a';
}

.icon-kebab:before {
  content: '\e91b';
}

.icon-key:before {
  content: '\e91c';
}

.icon-link:before {
  content: '\e91d';
}

.icon-list:before {
  content: '\e91e';
}

.icon-menu:before {
  content: '\e91f';
}

.icon-notification:before {
  content: '\e920';
}

.icon-payment:before {
  content: '\e921';
}

.icon-profile:before {
  content: '\e922';
}

.icon-range:before {
  content: '\e923';
}

.icon-reorder:before {
  content: '\e924';
}

.icon-search:before {
  content: '\e925';
}

.icon-show:before {
  content: '\e926';
}

.icon-start-now:before {
  content: '\e927';
}

.icon-subtract:before {
  content: '\e928';
}

.icon-success:before {
  content: '\e929';
}

.icon-template:before {
  content: '\e92a';
}

.icon-trash:before {
  content: '\e92b';
}

.icon-upload:before {
  content: '\e92c';
}

.icon-warning:before {
  content: '\e92d';
}

.icon-thumbs-down:before {
  content: '\e92e';
}

.icon-thumbs-up:before {
  content: '\e92f';
}

.icon-enter:before {
  content: '\e930';
}

.icon-redo:before {
  content: '\e931';
}

.icon-new-message:before {
  content: '\e932';
}

.icon-sources:before {
  content: '\e933';
}

.icon-side-panel:before {
  content: '\e934';
}

.icon-citations:before {
  content: '\e935';
}

.icon-sparkle:before {
  content: '\e936';
}

.icon-web:before {
  content: '\e937';
}

.icon-clip:before {
  content: '\e938';
}

.icon-download:before {
  content: '\e939';
}

.icon-pin:before {
  content: '\e93a';
}

.icon-calendar:before {
  content: '\e93b';
}

.icon-code:before {
  content: '\e93c';
}

.icon-globe-stand:before {
  content: '\e93d';
}

.icon-book:before {
  content: '\e93e';
}

.icon-book-open-text:before {
  content: '\e93f';
}

.icon-flask:before {
  content: '\e940';
}

.icon-list-magnifying-glass:before {
  content: '\e941';
}

.icon-newspaper:before {
  content: '\e942';
}

.icon-circles-four:before {
  content: '\e943';
}

.icon-calculator:before {
  content: '\e944';
}

.icon-github:before {
  content: '\e945';
}

.icon-at:before {
  content: '\e946';
}

.icon-plugs-connected:before {
  content: '\e947';
}

.icon-settings:before {
  content: '\e948';
}

.icon-magnifying-glass:before {
  content: '\e949';
}

.icon-code-block:before {
  content: '\e94a';
}

.icon-compass:before {
  content: '\e94b';
}

.icon-wrench:before {
  content: '\e94c';
}

.icon-share:before {
  content: '\e94d';
}

.icon-selection-slash:before {
  content: '\e94e';
}
