deployments:
  default_deployment: cohere_platform
  enabled_deployments:
    - cohere_platform
    - sagemaker
    - azure
    - bedrock
  sagemaker:
    region_name: us-west-2
    endpoint_name: cohere-ai
  azure:
    endpoint_url: https://cohere-ai.azurewebsites.net
  bedrock:
    region_name: us-west-2
  single_container:
    model:
    url:
database:
  url: postgresql+psycopg2://postgres:postgres@db:5432
redis:
  url: redis://:redis@redis:6379
tools:
  enabled_tools:
    - wikipedia
    - search_file
    - read_file
    - toolkit_python_interpreter
    - toolkit_calculator
    - hybrid_web_search
    - web_scrape
  hybrid_web_search:
    # List of web search tool names, eg: google_web_search, tavily_web_search
    enabled_web_searches:
      - tavily_web_search
  python_interpreter:
    url: http://terrarium:8080
feature_flags:
  # Experimental features
  use_agents_view: false
  # Community features
  use_community_features: true
auth:
  enabled_auth:
  backend_hostname: http://localhost:8000
  frontend_hostname: http://localhost:4000
logger:
  strategy: structlog
  renderer: console
  level: info
