deployments:
  default_deployment: cohere_platform
  enabled_deployments:
    - cohere_platform
    - sagemaker
    - azure
    - bedrock
  sagemaker:
    region_name: us-west-2
    endpoint_name: cohere-ai
  azure:
    endpoint_url: https://cohere-ai.azurewebsites.net
  bedrock:
    region_name: us-west-2
  single_container:
    model:
    url:
database:
  url: postgresql+psycopg2://postgres:postgres@db:5432
redis:
  url: redis://:redis@redis:6379
tools:
  enabled_tools:
    - wikipedia
    - search_file
    - read_document
    - toolkit_python_interpreter
    - toolkit_calculator
    - web_search
    - web_scrape
  python_interpreter:
    url: http://terrarium:8080
  web_search:
    api_key:
  wolfram_alpha:
    app_id:
  compass:
    api_url:
    parser_url:
  google_drive:
    client_id:
    client_secret:
feature_flags:
  # Experimental features
  use_experimental_langchain: false
  use_agents_view: false
  # Community features
  use_community_features: true
auth:
  enabled_auth:
    - basic
  backend_hostname: http://localhost:8000
  frontend_hostname: http://localhost:4000
  google_oauth:
  oidc:
logger:
  strategy: structlog
  renderer: console
  level: info
